/* Тбилиси */

width: 200px;
height: 30px;

font-family: 'Oswald';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 100%;
/* identical to box height, or 30px */
text-transform: uppercase;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
