*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
.content {
  display: flex;
  flex-wrap: wrap;
  margin: 133px 30px;
  gap: 30px;
  min-width: 1140px;
  height: 534px;
}
.result__video {
  width: 100%;
}
.result__video-container {
  margin-top: 70px;
  width: 711px;
  height: 386px;
}
.search-form {
  line-height: 22px;
  width: 100%;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}
.content__list {
  width: 388px;
  overflow: hidden scroll;
}
.content__details {
  height: 534px;
  overflow-y: scroll;
}
